*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/.tmp.driveupload/
/.tmp.drivedownload/
.externalNativeBuild
.cxx
local.properties
*.keystore
*.jks
*firebase-adminsdk*.json
serviceAccount*.json
